html,
body {
  margin: 0;
  font-size: 1.1vw;
}
@font-face {
  font-family: 'Text light';
  src: url("./assets/Nexa Light.otf");
}
@font-face {
  font-family: 'Text bold';
  src: url("./assets/Nexa Bold.otf");
}
@font-face {
  font-family: 'Numbers';
  src: url("./assets/TT Lakes.otf");
}
html .App,
body .App {
  min-height: 100vh;
  width: 100vw;
  background-color: #EEF6FB;
  color: #333339;
}
@media only screen and (orientation: portrait) and (max-width: 767px) {
  html,
  body {
    font-size: 3vw;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1025px) {
  html,
  body {
    font-size: 2.2vw;
  }
}
.error-ui {
  font-family: 'Text light';
  text-align: center;
  display: flex;
  margin: auto;
  font-size: 1.4rem;
}
.display-grid-component {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  height: 65vh;
  box-shadow: #33333921 0.1rem 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 0.3rem solid #FFFFFF;
  overflow: hidden;
}
.display-grid-component .weekday-cards-container {
  display: flex;
  flex-direction: row;
  height: 45%;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  .display-grid-component {
    width: 80vw;
    height: 85vh;
  }
  .display-grid-component .weekday-cards-container {
    flex-wrap: wrap;
    height: 65%;
  }
}
.city-selector-component {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin: auto;
  height: 6rem;
}
.city-selector-component .city-option {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'Text light';
  align-self: center;
  cursor: pointer;
  margin: 0 2rem;
}
.city-selector-component .city-option.active-city {
  font-family: 'Text bold';
  font-weight: bold;
  color: #5FB0E8;
}
.today-card-component {
  width: 100%;
  height: 55%;
  outline: 0.3rem solid #FFFFFF;
  display: flex;
  font-family: 'Text light';
  font-size: 1.7rem;
}
.today-card-component .today-content-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.today-card-component .today-content-container .today-placeholder {
  text-align: center;
}
.today-card-component .today-content-container .details-container {
  display: flex;
}
.today-card-component .today-content-container .details-container .weather-icon-container {
  font-size: 5rem;
  display: flex;
  margin-right: 2rem;
}
.today-card-component .today-content-container .details-container .today-temp {
  font-family: 'Numbers';
  font-size: 4rem;
}
@media screen and (orientation: portrait) {
  .today-card-component {
    height: 45%;
  }
}
.weekday-card-component {
  width: 25%;
  height: 100%;
  outline: 0.15rem solid #FFFFFF;
  display: flex;
  font-family: 'Text light';
  font-size: 1.4rem;
  text-align: center;
}
.weekday-card-component .weekday-content-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.weekday-card-component .weekday-content-container .weekday-icon {
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  margin: 1rem;
}
.weekday-card-component .weekday-content-container .weekday-temp {
  font-family: 'Numbers';
  font-size: 1.5rem;
}
@media screen and (orientation: portrait) {
  .weekday-card-component {
    width: 50%;
    height: 50%;
  }
}
.loader-component {
  display: flex;
  height: 100%;
  width: 100%;
}
.loader-component .spinner-loader {
  border: 1rem solid #FFFFFF;
  border-radius: 50%;
  border-top: 1rem solid #5FB0E8;
  width: 5rem;
  height: 5rem;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  margin: auto;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.weather-icon-component {
  color: #5FB0E8;
  opacity: 0.6;
  display: flex;
  margin: auto;
}
