html,
body {
  margin: 0;
}
@font-face {
  font-family: 'Text light';
  src: url("./assets/Nexa Light.otf");
}
@font-face {
  font-family: 'Text bold';
  src: url("./assets/Nexa Bold.otf");
}
@font-face {
  font-family: 'Numbers';
  src: url("./assets/TT Lakes.otf");
}
html .App,
body .App {
  height: 100vh;
  width: 100vw;
  background-color: #EEF6FB;
}
.error-ui {
  background-color: black;
}
.city-selector-component {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin: auto;
  height: 5rem;
}
.city-selector-component .city-option {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Text light';
  align-self: center;
  cursor: pointer;
  margin: 0 2rem;
}
.city-selector-component .city-option.active-city {
  font-family: 'Text bold';
  font-weight: bold;
  color: #5FB0E8;
}
